.Die {
    font-size: 10em;
    padding: .25em;
    color: slateblue;
}

.wobble {
    animation-name: wobble;
    animation-duration: 1s;
}

@keyframes wobble{
    0% {
      transform:  translate(0px,0px)  rotate(0deg) ;
    }
    15% {
      transform:  translate(-25px,0px)  rotate(-5deg) ;
    }
    30% {
      transform:  translate(20px,0px)  rotate(3deg) ;
    }
    45% {
      transform:  translate(-15px,0px)  rotate(-3deg) ;
    }
    60% {
      transform:  translate(10px,0px)  rotate(2deg) ;
    }
    75% {
      transform:  translate(-5px,0px)  rotate(-1deg) ;
    }
    100% {
      transform:  translate(0px,0px)  rotate(0deg) ;
    }
  }